{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "useTabs": false,
  "trailingComma": "all"
}
